.notecard-container-cnt {
    display: flex;
    flex-direction: column;
    // height: 150px;
    min-width: 200px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #fff;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
    margin: 10px;
    
}

.notecard-container-cnt:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.notecard-container-title-cnt {
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: #202124;
}

.notecard-container-des-cnt {
    padding: 5px 0;
    font-size: 16px;
    color: #5f6368;
    flex-grow: 1;
}

.notecard-container-icon-cnt {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in;
}
.notecard-container-cnt:hover .notecard-container-icon-cnt {
    visibility: visible; 
    opacity: 5;
}

.dashbd-iconAt-cnt {
    color: #5f6368;
    cursor: pointer;
    transition: color 0.2s ease;
}
.dashbd-iconAt-menu-cnt {
 padding-top: 1px;
}

.dashbd-iconAt-cnt:hover {
    color: #000;
}

.color-palate-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    border-radius: 8px;
}
.color-btn {
    width: 30px;
    height: 30px;
    border-radius: 200px;
    margin: 8px 0px;
}
.col1 {
    @extend .color-btn;
    background-color: #FFFFFF; 
    border: 1px solid #e7e7bc;
}
.col2 {
    @extend .color-btn;
    background-color: #FAAFA8;
    border: 1px solid #FAAFA8; 
 }
 .col3 {
    @extend .color-btn;
    background-color: #F39F76;
    border: 1px solid #F39F76; 
 }
 .col4 {
    @extend .color-btn;
    background-color: #FFF8B8;
    border: 1px solid #FFF8B8; 
 }
 .col5 {
    @extend .color-btn;
    background-color: #E2F6D3;
    border: 1px solid #E2F6D3; 
 }
 .col6 {
    @extend .color-btn;
    background-color: #B4DDD3;
    border: 1px solid #B4DDD3; 
 }
 .col7 {
    @extend .color-btn;
    background-color: #D4E4ED;
    border: 1px solid #D4E4ED; 
 }
 .col8 {
    @extend .color-btn;
    background-color: #AECCDC;
    border: 1px solid #AECCDC; 
 }
 .col9 {
    @extend .color-btn;
    background-color: #D3BFDB;
    border: 1px solid #D3BFDB; 
 }
 .col10 {
    @extend .color-btn;
    background-color: #F6E2DD;
    border: 1px solid #F6E2DD; 
 }
 .col11 {
    @extend .color-btn;
    background-color: #E9E3D4;
    border: 1px solid #E9E3D4; 
 }
 .col12 {
    @extend .color-btn;
    background-color: #EFEFF1;
    border: 1px solid #EFEFF1; 
 }
 .horizontal-menu .MuiMenu-list {
    display: flex; /* Make menu items appear in a row */
    flex-direction: row; /* Align them horizontally */
  }
  
  .horizontal-menu .MuiMenuItem-root {
    min-width: auto; /* Allow menu items to shrink and fit horizontally */
    padding: 8px 16px; /* Add padding around the items */
  }
  .notecard-modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

  }

  .notecard-colour-menu{
    width: 100%;
  }

  @media only screen  and (min-width:250px) and (max-width:650px){
    .notecard-colour-menu{
        width: 80%;
      }
      .color-palate-cnt {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 4px 12px;
        border-radius: 8px;
        width: 80%;
    }
     
  }